<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Diamond Shop - Tin Tức</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-main">
        <h1 class="h1-news">Diamond Shop - Tin Tức</h1>

        {% if articles %}
            {% for article in articles %}
            <div class="news-card">
                <img class="news-image" src="{{ article.image.url }}" alt="{{ article.title }}">
                <div class="content">
                    <h3>{{ article.title }}</h3>
                    <p>{{ article.short_description }}</p>
                    <a href="{% url 'news_detail' article.pk %}"><button class="button-news">Xem chi tiết</button></a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Chưa có bài viết nào!</p>
        {% endif %}
        
        <a href="{% url 'news_create' %}" ><button class="button-news">Thêm bài viết</button></a>
    </div>
</body>
</html>
