{% extends "ms-page.html" %}



{% block navbar%}
  {% include 'includes-page/nav-bar.html' %}
{% endblock%}

{% block content %}

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'home/assets/css/page-style.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/profile.css' %}">
</head>

<div class="form-user min-h-screen roboto-light">
    <h1 class="text-2xl my-4 roboto-bold">Đăng nhập</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="px-8 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 hover:cursor-pointer" type="submit" value="Login">
    </form>
    <p class="py-4">Bạn chưa có tài khoản? <a class="text-blue-500 underline" href="{% url 'account_signup' %}">Đăng ký.</a></p>
</div>

{% endblock content %}
{% block footer%}
{% include 'includes-page/footer.html' %}
{% endblock%}