{% extends "master-page.html" %}
   <!-- / Menu -->
   {% block menu%}
      {% include 'includes/left-menu.html' %}
   {% endblock%}
   <!-- Layout container -->
     <!-- Navbar -->
       {% block navbar%}
         {% include 'includes/nav-bar.html' %}
       {% endblock%}
     <!-- / Navbar -->

     <!-- Content wrapper -->
       <!-- Content -->
       {% block content%}
       {% endblock%}

   
       <!-- / Content -->

       <!-- Footer -->
       {% block footer%}
        {% include 'includes/footer.html' %}
       {% endblock%}
       <!-- / Footer -->