<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập nhật sản phẩm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-5">Cập nhật sản phẩm</h1>
        <form method="post" action="/update/{{ item_product.id }}/">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="name" class="form-label">Tên hàng hóa:</label>
                <input type="text" class="form-control" name="name" value="{{ item_product.name }}" required>
            </div>

            <div class="mb-3">
                <label for="purchase_price" class="form-label">Giá mua:</label>
                <input type="number" step="0.01" class="form-control" name="purchase_price" 
                       value="{{ item_product.price_purchase }}" required>
            </div>

            <div class="mb-3">
                <label for="selling_price" class="form-label">Giá bán:</label>
                <input type="number" step="0.01" class="form-control" name="selling_price" 
                       value="{{ item_product.price_selling }}" required>
            </div>

            <div class="mb-3">
                <label for="quantity" class="form-label">Số lượng trong kho:</label>
                <input type="number" class="form-control" name="quantity" value="{{ item_product.quantity }}" required>
            </div>

            <div class="mb-3">
                <label for="sold_quantity" class="form-label">Số lượng đã bán:</label>
                <input type="number" class="form-control" name="sold_quantity" 
                       value="{{ item_product.quantity_sold }}" required>
            </div>

            <a href="/" class="btn btn-danger">Quay lại</a>
            <button type="submit" class="btn btn-success">Cập nhật</button>
        </form>
    </div>
</body>
</html>
